


h1 {
    color: #E7503D;
    font-size: 9rem;
        /* font-size: 10vw; */

    font-stretch: extra-expanded;
    font-variant: small-caps;
    /* margin-top: -7rem; */
    font-weight: bold;
    /* letter-spacing: 0.06em; */
    margin-top: -50px;
    letter-spacing: 10px;
}

@media (max-width: 1200px) { 
    h1 {
        color: #E7503D;
        font-size: 5rem;
            /* font-size: 10vw; */
    
        font-stretch: extra-expanded;
        font-variant: small-caps;
        /* margin-top: -7rem; */
        font-weight: bold;
        /* letter-spacing: 0.06em; */
        margin-top: -25px;
        margin-bottom: 25px;
        letter-spacing: 10px;
    }
 }

 @media (max-width: 655px) { 
    h1 {
        color: #E7503D;
        font-size: 2rem;
            /* font-size: 10vw; */
    
        font-stretch: extra-expanded;
        font-variant: small-caps;
        /* margin-top: -7rem; */
        font-weight: bold;
        /* letter-spacing: 0.06em; */
        margin-top: -25px;
        margin-bottom: 25px;
        letter-spacing: 10px;
    }
 }

.logo-section .row {
    
    width: 1500px;
}

.logo-img {
    max-width: 7em;
   
    /* padding: 0 auto; */
    /* margin: 0 2em; */

    align-self: center;
    /* display: grid; */
}

.logo {
    padding-top: 1em;
}

.anno {
    font-family: 'Alike';
    font-variant: small-caps;
    font-size: 1em;
    font-weight: bold;
}

.logo-line-left {
    background-color: #E7503D;
    position: relative;
    width: inherit;
    bottom: 0;
    height: 40px;
    float: right;
    /* min-width: 425px; */

    
}
.logo-line-right {
    background-color: #E7503D;
    position: relative;
    width: inherit;
    bottom: 0;
    height: 40px;
    float: right;
    /* min-width: 425px; */

    
}

.logo-line-right p {
    color: rgb(255, 214, 214);
    font-size: 1.1rem;
    font-family: 'Alike';
    margin-top: 7px;
}

.inline {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: auto;
    letter-spacing: 0.4em;
}

.inline button {
    /* display: flex; */
    border: none;
    background: none;
    color: #E7503D;
    font-size: 2rem;
    font-weight: bold;
    /* position: absolute; */
}

.inline button:focus {
    border: none;
    outline: none;
}

.inline h2 {
    /* border:none;
    position: relative;
    /* top: 0; */
    /* background: none; */
    color: #E7503D; 
    font-size: 3rem;
    /* font-weight: bold; */
    
}

.logo-line-divider {
    width: 150px;
}

.logo-section {
    display: flex;
    justify-content: center;
    /* margin-top: -60px; */
    /* margin: 0 0 auto 0; */
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 1700px;
    /* height: 27vh; */
}

.logo-section-contact {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    
}

.logo-section-contact h2 {
    /* height: 100%; */
    /* width: 100%; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: right;  
    /* font-size: 3vw; */
    font-size: 1.8rem;
    margin-top: auto;
    width: 100%;
    
    
}
.logo-section-languages {
    display: flex;
    /* flex-direction: column; */
    /* margin-top: auto; */
    width: 100%;

}

.fixed {
    min-height: 155.8px;
    max-height: 155.8px;
    width: 100%;
    position: relative;
}

.nav-panel {
    display: flex;
    justify-content: center;
    /* margin-bottom: 35px; */
    margin-top: -25px;
}

/* .col-5 {
    
    position: relative;
    bottom: 0;
    
} */

.nav-button {
    width: 20vw;
    color: #E7503D;
    font-size: 1.5em;
    overflow-wrap: normal;
    background: none;
    border: none;
    font-weight: bold;
    border-bottom: solid #E7503D 2px;
    border-top: solid #E7503D 2px;
    font-family: 'IM Fell Double Pica', serif;
    font-variant: small-caps;

}

.invisbutton {
    border: none;
    cursor: pointer;
    background: none;
    text-decoration:none !important;
}
.invisbutton:hover {
    border: none;
    background: none;
}
.invisbutton:active {
    border: none;
    background: none;
}
.invisbutton:focus {
    border: none;
    background: none;
}

.nav-button-dropdown {
    width: calc(20vw - 4px);
    color: #E7503D;
    font-size: 1.5em;
    overflow-wrap: normal;
    background: none;
    border: none;
    font-weight: bold;
    font-family: 'IM Fell Double Pica', serif;
    font-variant: small-caps;

}

.nav-button-dropdown:hover {
    background-color: #E7503D;
    color: rgb(233, 233, 233);
    transition: background-color 0.2s;
}
.nav-button-dropdown:focus {
    background-color: #E7503D;
    color: rgb(233, 233, 233);
    transition: background-color 0.2s;
}
.nav-button-dropdown:active {
    background-color: #E7503D;
    color: rgb(233, 233, 233);
    transition: background-color 0.2s;
}

.nav-button-dropdown:active ~ #menu-dropdown {
    background-color: #E7503D;
    color: rgb(233, 233, 233);
    display: none;
    /* transition: background-color 0.2s; */
}



.nav-button:focus {
    /* border: none; */
    outline: none;
    
}

.nav-button:hover {
    background-color: #E7503D;
    color: rgb(233, 233, 233);
    transition: background-color 0.2s;
}

#menuDropdownButton:hover ~ #menu-dropdown {
    display: block;
    /* transition: display 1s 1s; */
}




#menu-dropdown:hover {
    display: block;
    transition: 1s;
}

#menu-dropdown {
    text-align: center;
    background-color: #FBEFDB;
    background-image: url('../../../images/paperbg.png');
    background-repeat: repeat;
    background-size: 250px;
    border: solid #E7503D 2px;
    color: #E7503D;
    
    margin-top: -2px;
}

#mail-link {
    color: #212529;
}